*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


@import "_container";
@import "var";
@import "blocks/nav.scss";
@import "blocks/header.scss";
@import "blocks/about_me.scss";
@import "blocks/section.scss";
@import "blocks/footer.scss";
@import "media.scss";