.footer{
    text-align: center;
    padding: 1.5rem 0;
    background-color: $grayw;
    color: #fff;
}

//footer на других страницах

.footer{
    margin-top: 5rem;
    width: 100%;
    background-color: $grayw;
    color: black;
}
